@import "tailwindcss";

@theme {
  --color-main: #f8faff;
  --color-main-foreground: #0f172a;
  --color-border: #e6eef8;
  --color-input: #ffffff;
  --color-primary: #1d4ed8;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #334155;
  --color-muted: #f3f4f6;
  --color-muted-foreground: #94a3b8;
  --color-card: #ffffff;
  --color-card-foreground: #0f172a;
  --color-sidebar: #ffffff;
  --color-sidebar-foreground: #475569;
  --color-sidebar-primary: #eef2ff;
  --color-sidebar-primary-foreground: #2563eb;
}
